.side-bar
  .side-header
    .side-header__box
      %p.side-header__box__username
        aki
      %ul.side-header__box__menu
        = link_to "#" do
          = icon('far', 'edit')
        = link_to "#" do
          = icon('fa', 'cog')
      
  .groups
    .group
      = link_to "#" do
        .group__group-name
          techcamp
        .group__latest-message
          まだメッセージがありません

  
    .group
      = link_to "#" do
        .group__group-name
          techcamp1
        .group__latest-message
          まだメッセージがありません



